@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  80% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  80% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
  80% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
  80% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveFromBottom {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveFromBottom {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 2rem;
  color: #777;
  overflow-x: hidden;
}

.showcase-heading-primary {
  font-size: 3.8rem;
  letter-spacing: 2.2rem;
  -webkit-animation: moveFromLeft 1.5s ease-in-out;
          animation: moveFromLeft 1.5s ease-in-out;
  text-transform: uppercase;
  color: #fff;
}

.showcase-heading-secondary {
  font-size: 1.2rem;
  letter-spacing: 1.2rem;
  -webkit-animation: moveFromRight 1.5s ease-in-out;
          animation: moveFromRight 1.5s ease-in-out;
  text-transform: uppercase;
  color: #fff;
}

.about-heading {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.about-sub-heading {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #55c57a;
}

.tertiary-heading {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.lead {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.mb-5 {
  margin-bottom: 6rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

section {
  padding: 2rem;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  border-radius: 40px;
  color: #777;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 20px rgba(17, 17, 17, 0.3);
          box-shadow: 0 10px 20px rgba(17, 17, 17, 0.3);
}

.btn:hover:after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 5px 10px rgba(17, 17, 17, 0.3);
          box-shadow: 0 5px 10px rgba(17, 17, 17, 0.3);
}

.btn:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-animated {
  -webkit-animation: moveFromBottom 0.5s ease-out 0.75s;
          animation: moveFromBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-white {
  background-color: #fff;
  color: #777;
  margin: 0 auto;
  margin-top: 3.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-white:after {
  background-color: #fff;
}

.btn-text {
  font-size: 1rem;
  display: inline-block;
  padding: 0.3rem;
  background-color: #f7f7f7;
  border-bottom: 2px solid #55c57a;
  color: #55c57a;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-text:hover {
  color: #fff;
}

.btn-text:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: #fff;
}

.btn-text:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #55c57a;
  color: #777;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cards {
  -webkit-perspective: 130rem;
  perspective: 130rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
}

.cards-side {
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.cards-side-front {
  background-color: red;
}

.cards-side-back {
  background-color: blue;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cards:hover .cards-side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.cards:hover .cards-side-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.composition {
  position: relative;
}

.composition-photo {
  width: 55%;
  -webkit-box-shadow: 0 1rem 2.5rem rgba(17, 17, 17, 0.4);
          box-shadow: 0 1rem 2.5rem rgba(17, 17, 17, 0.4);
  border-radius: 0.1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline-offset: 1rem;
  position: absolute;
}

.composition-photo-p1 {
  left: 0;
  top: -1.5rem;
}

.composition-photo-p2 {
  right: 0;
  top: 1.5rem;
}

.composition-photo-p3 {
  left: 5rem;
  top: 6rem;
}

.composition-photo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 1.5rem 3rem rgba(17, 17, 17, 0.5);
          box-shadow: 0 1.5rem 3rem rgba(17, 17, 17, 0.5);
  z-index: 10;
  outline: 0.85rem solid #55c57a;
}

.features-box {
  padding: 1.6rem;
  text-align: center;
  background-color: rgba(247, 247, 247, 0.85);
  -webkit-box-shadow: 0 1rem 2.5rem rgba(17, 17, 17, 0.4);
          box-shadow: 0 1rem 2.5rem rgba(17, 17, 17, 0.4);
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.features-box-icon {
  font-size: 3.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.features-box:hover {
  -webkit-transform: translateY(-1rem) scale(1.03);
          transform: translateY(-1rem) scale(1.03);
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

.grid-1-of-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-1-of-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.5rem;
  padding: 0 5rem;
}

.grid-1-of-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 0 5rem;
  grid-gap: 3.2rem;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 213, 111, 0.808)), to(rgba(40, 180, 133, 0.808))), url(../img/hero.jpg) no-repeat top/cover;
  background: linear-gradient(rgba(126, 213, 111, 0.808), rgba(40, 180, 133, 0.808)), url(../img/hero.jpg) no-repeat top/cover;
  height: 95vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

#header .logo-container {
  position: relative;
  top: 40px;
  left: 40px;
}

#header .logo-container .logo {
  height: 37px;
}

#header .showcase-text {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-section {
  background-color: #f7f7f7;
  padding: 13rem 5rem;
  margin-top: -20vh;
}

.section-features {
  padding: 13rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/nat-4.jpg) no-repeat center/cover;
  background: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg) no-repeat center/cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -5rem;
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  padding: 15rem 0;
  background-color: #f7f7f7;
  margin-top: -5rem;
}
/*# sourceMappingURL=style.css.map */