.grid {
  display: grid;
  grid-gap: 2rem;;
}
// this is layout of 1 of 2 grid system
.grid-1-of-2 {
  grid-template-columns: repeat(2,1fr);
}
// this is layout of 1 of 4 grid system
.grid-1-of-4 {
  grid-template-columns: repeat(4,1fr);
  padding: 0 5rem;
  grid-gap: 3.2rem;
}