// this is a  showcase heading mixin
@mixin showcase-heading {
	text-transform: uppercase;
	color: $color-white;
}
@mixin  section-main-heading {
	background: linear-gradient(to right, $primary-color-light, $primary-color-dark);
	-webkit-background-clip: text;
	color: transparent;
}