// colors
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-gray-light: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #777;

$color-white: #fff;
$color-black: #111;

// font size
$default-font-size: 1rem;

// polygon
$polygon-header: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
