// colors
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$color-gray-light: #f7f7f7;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #111;

// font size
$default-font-size: 1rem;

// polygon
$polygon-header: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
