.mb-6 {
  margin-bottom: 6rem;
}
.mb-7 {
  margin-bottom: 7rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
.mt-6 {
  margin-top: 6rem;
}
.mt-7 {
  margin-top: 7rem;
}
.mt-8 {
  margin-top: 8rem;
}

.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}
.py-6 {
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.py-7 {
  padding-bottom: 7rem;
  padding-top: 7rem;
}
.py-8 {
  padding-bottom: 8rem;
  padding-top: 8rem;
}
section  {
  padding: 2rem;
}

img {
  max-width: 100%;
}