.features-box {
  transition: all 0.3s;
  
  &-icon {
    font-size: 3.8rem;
    background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }
}