.footer-section {
  background: #333;
}
.footer-link {
  color: $color-gray-light;
  font-size: 0.95rem;
  padding:0.4rem;
  transition: all 0.2s;

  &:hover {
    background: #333;
    color: $primary-color;
    text-decoration: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  }
}
.borderTop {
  border-top: 1px solid $color-gray-dark;
  width: 90%;
}